{% extends 'base.html.twig' %}
{% block title %}Edit Profile{% endblock %}
{% block body %}
	<div class="grid-container">
<hr>
	<div class="panel-heading">
		<ul class="menu">
			<h4> Edit Profile </h4>
		</ul>
		</div>
		<div class="callout">
			{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
			<div class="grid-x">
				<div class="cell">
					{{ form_row(form) }}
				</div>
			</div>
			<input type="submit" class="button success" value="Save Changes">
			<a href="{{ path('profile', {userId : 2}) }}" class="button">Cancel</a>
			
		{{ form_end(form) }}
		</div>
{% endblock %}

