{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
	<div class="grid-container">
		<h1>Clinic Info</h1>

		<h2>List of Doctors</h2>
		<table>
			<tbody>
				<tr>
					<td>First Name Middle Name Last Name</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
