{% extends 'base.html.twig' %}

{% block title %}Patient's Portal{% endblock %}

{% block body %}
	<div class="grid-container">
	    <h1>Patient's Portal</h1>
	    <ul>
	    	<li><a href="{{ path('record_history') }}">Record History</a></li>
	    </ul>
	</div>
{% endblock %}
