{% extends 'base.html.twig' %}
{% block title %}Patient Records History{% endblock %}
{% block body %}
<div class="grid-container">
	<h1>Patient Records History</h1>
	<table>
		<thead>
			<tr>
				<th>Checkup Date</th>
				<th>Doctor in Charge</th>
				<th>Reason for Checkup</th>
				<th>Diagnosis Category</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>record.checkup_date</td>
				<td>record.doctor.fname</td>
				<td>record.checkup_reason</td>
				<td>record.diagnosis_category</td>
			</tr>
		</tbody>
	</table>

</div>
{% endblock %}