{% extends 'base.html.twig' %}

{% block title %}Appointment Scheduler{% endblock %}

{% block body %}
	<div class="grid-container">
<div class="panel-heading">
		<div>
			<h4 class="text-center">
				Patient's Portal
			</h4>
		</div>

<div class="callout">
    <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
            <li><a href="{{ path('patient') }}">home</a></li>
            <li><a href="{{ path('record_history') }}">Record History</a></li>
            <li><span class="show-for-sr">Current: </span>Set an Appointment</li>
        </ul>
    </nav>		
		<div class="grid-x">
            <div class="medium-6">
                <label>Doctor's Name</label> <input type="text">
            </div>
            <div class="medium-6">
                <label>Doctor's Name</label> <input type="text">
            </div>
        
        </div>
	</div>
</div>
</div>
{% endblock %}
