body {
	padding: 2rem 1rem;
}

td{
	font-size: 11pt;
}

.grid-container{
	padding-top: 2%;
}

.log-in-form {
	border: 1px solid #cacaca;
	padding: 1rem;
	border-radius: 0;
}

.panel-heading {
    background-color: #2ba6cb;
    padding-top: 2%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.panel-heading h4{
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
	color: white;
}

.panel-heading h5{
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
}

.panel-heading .menu a:hover{
	color: #8a8a8a;
}

.callout {
	border: 1px solid #e6e6e6;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.menu-hover-lines {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	transition: all 0.35s ease;
	text-align: center;
}

.menu-hover-lines li a {
	color: rgba(10, 10, 10, 0.5);
	position: relative;
	margin-left: 1rem;
	padding: 0.75rem 0;
}

.menu-hover-lines li:first-child a {
	margin-left: 0;
}

.menu-hover-lines li.active > a {
	background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
	position: absolute;
	content: '';
	transition: all 0.35s ease;
	background-color: #1779ba;
	width: 0;
	height: 3px;
}

.menu-hover-lines a::before {
	top: 0;
	left: 0;
}

.menu-hover-lines a::after {
	bottom: 0;
	right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
	color: #0a0a0a;
	transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
	width: 100%;
}

.alert-callout-border {
	width: 100%;
	padding: 1.3rem;
	border-left-width: 0.3125rem;
	border-left-color: #cacaca;
}

.alert-callout-border strong {
	color: #0a0a0a;
}

.alert-callout-border .close-button {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}

.alert-callout-border.radius {
	border-radius: 0.6rem;
}


.alert-callout-border.success {
	border-left-color: #3adb76;
}

.alert-callout-border.success strong {
	color: #3adb76;
}

.notification{
	float:right;
	width:300px;
	padding-top:2%;
	padding-right:25px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#myInput {
	background-position: 10px 12px;
	background-repeat: no-repeat;
	width: 100%;
	font-size: 16px;
	padding:14px;
	border: 1px solid #ddd;
}

#myUL {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width:100%;
}

#myUL li a {
	border: 1px solid #ddd;
	margin-top: -1px;
	padding: 12px;
	text-decoration: none;
	font-size: 16px;
	color: black;
	display: block;
}

#myUL li a:hover:not(.header) {
	background-color: #eee;
}

.button-badge {
	background-color: #1779ba;
	text-decoration: none;
	padding: 1rem 1.5rem;
	position: relative;
	display: inline-block;
	border-radius: .2rem;
	transition: all ease 0.4s;
}

.button-badge:hover {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.badge {
	position: absolute;
	top: -10px;
	right: -10px;
	font-size: .8em;
}

/* tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
	background-color: #2ba6cb;
}

.tab label {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
	font-size: 17px;
	color:white;
}

.tab label:hover {
    background-color: #ddd;
}

.tab label.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
	border-top: none;
	overflow-y: scroll;
	height: 400px;
}

#messageModal, #deleteModal {
	border-radius: 0.75rem;
}

.messageBtn--unread {
	background-color: #FFFACD;
}

.messageBtn--selected {
	border: 4px solid #2ba6cb !important;
}

.change{
	border: 1px solid #c1c1c1;
	padding: 15px 18px;
}
.change, .log-in-form{
	box-shadow: 0 0 2px 2px #c1c1c1;
}
.fa-edit:hover{color:black;}

/* Top bar */
.top-bar {
	width: 100%;
}

.top-bar a:hover{
	color:black;
}

.top-bar li {
	display: block;
	transition-duration: 0.5s;
}

.top-bar li:hover {
	cursor: pointer;
}

.top-bar ul li ul {
	visibility: hidden;
	opacity: 1;
	position: absolute;
	transition: all 0.5s ease;
	display: none;
	background-color: #fff;
	box-shadow: 2px 2px #ccc;
	border-radius: 10px;
	padding: 4px 4px;
	text-align: justify;
}

.top-bar ul li:hover > ul,
ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}

.menuitem--selected {
	background-color: #1779ba;
	color: #ffffff;
}
.profile{
	width:500px;
	border:2px solid #ccc;
	padding: 25px 30px;
	text-align: justify;
	border-radius:5px;
	position:relative;
	box-shadow: 0 0 2px 1px #ccc;
}

.profile h5, h4{
	font-weight: bold;
	text-align:center;
}

#replies {
	list-style-type: none;
}

#messageheader {
	top: 0;
	position: sticky;
	background-color: white;
	z-index: 1;
	padding:10px;
	border-bottom: 2px solid #ccc;
}

#profile-pic {
	padding: 5px;
	border-radius: 15px;
	width:200px;
	height:200px;
	margin-left:41%;
	position:relative;
}

#profile-pic:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
#profile-pic1 {
	padding: 5px;
	border-radius: 15px;
	width:200px;
	height:200px;
	margin-left:41%;
	position:relative;
}
#a {margin-left:46%;}

#messagepanel {
	height: 555px !important;
}

#messagearea {
	overflow-y: auto;
}

.msg-section {
	border: 1px solid #ccc;
}

.speech-bubble {
	position: relative;
	border-radius: 0.5em;
	margin: 0.5em 1.5em;
	padding: 0.5em;
	width: 50%;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	margin-top: -20px;
}

.speech-bubble--sender {
	background: #00aabb;
	float: right;
}

.speech-bubble--sender:after {
	right: 0;
	border-left-color: #00aabb;
	border-right: 0;
	margin-right: -1.2em;
}

.speech-bubble--receiver {
	background: #a8b1b2;
	float: left;
}

.speech-bubble--receiver:after {
	left: 0;
	border-right-color: #a8b1b2;
	border-left: 0;
	margin-left: -1.2em;
}

.speech-bubble--unread {
	box-shadow: 0 0 10px #f60;
}

.msg-avatar {
	border-radius: 3em;
}

.timestamp {
	font-size: small;
	float: right;
}

.deletereply {
	float:right;
	font-size: small;
	color: #ffffff;
}

.msgPanel {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
#output_image
{
	max-width:350px;
	padding-bottom:5%;
	text-align:center;
}

#reply_replyBody {
	resize : none;
	white-space : normal;
}