{% extends 'base.html.twig' %}
{% block title %}Add Diagnosis Category{% endblock %}
{% block body %}
	<div class="grid-container">
		<h1>Add Diagnosis Category</h1>
		
		{{ form_start(form) }}
			{{ form_widget(form) }}
			<input type="submit" class="button success" value="Add Diagnosis Category">
			<a href="{{ path('diagnosis_categories') }}" class="button">Cancel</a>
		{{ form_end(form) }}		
	</div>
{% endblock %}