{% extends 'base.html.twig' %}
{% block title %}Add Doctor{% endblock %}
{% block body %}
	<div class="grid-container">
		<h1>Add Doctor</h1>

		{{ form_start(form) }}
			{{ form_widget(form) }}
			<input type="submit" class="button success" value="Add Doctor">
			<a href="{{ path('doctor_list') }}" class="button">Cancel</a>
		{{ form_end(form) }}
	</div>
{% endblock %}