{% extends 'base.html.twig' %}
{% block title %}Add Doctor{% endblock %}
{% block body %}
	<div class="grid-container">
		<div class="grid-x">
			<div class="cell medium-9">
				<h1>Add Doctor</h1>
			</div>
			<div class="cell medium-3">
				<a href="{{ path('doctor_list') }}" class="button primary">Back to List...</a>
			</div>
		</div>
		{# TODO: Add the form here #}
	</div>
{% endblock %}