{% extends 'base.html.twig' %}
{% block title %}Add Patient{% endblock %}
{% block body %}
	<div class="grid-container">
		<h1>Add Patient</h1>
		
		{{ form_start(form) }}
			{{ form_widget(form) }}
			<input type="submit" class="button success" value="Add Patient">
			<a href="{{ path('patient_list') }}"class="button">Cancel</a>
		{{ form_end(form) }}
	</div>
{% endblock %}