{% extends 'base.html.twig' %}
{% block title %}Clinic List{% endblock %}
{% block body %}
	<div class="grid-container">
		<div class="grid-x">
			<div class="cell medium-9">
				<h1>Clinic List</h1>
			</div>
			<div class="cell medium-3">
				<a  href="{{ path('add_clinic') }}" class="button success">Add New Clinic...</a>
			</div>
		</div>
		<table>
			<tbody>
				{% for clinic in clinics %}
				<tr>
					<td>
						<a href="{{ path('view_clinic', {clinicId : clinic.id}) }}">{{ clinic.clinicName }}
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}