{% extends 'base.html.twig' %}
{% block title %}Clinic List{% endblock %}
{% block body %}
	<div class="grid-container">
		<div class="grid-x">
			<div class="cell medium-9">
				<h1>Clinic List</h1>
			</div>
			<div class="cell medium-3">
				<a href="#" class="button success">Add New Clinic...</a>
			</div>
		</div>
		<table>
			<tr>
				<td>clinic.name</td>
			</tr>
		</table>
	</div>
{% endblock %}