{% extends 'base.html.twig' %}

{% block title %}Diagnosis Categories{% endblock %}
{% block body %}
<div class="grid-container">
	<div class="panel-heading">
		<div>
			<h4 class="text-center"> Diagnosis Categories
				<a href="{{ path('add_diagnosis_category') }}" class="button small float-right">Add New Category</a>
			</h4>
		</div>
	<div class="callout">
		<table class="table unstriped text-center">
			<thead>
				<tr>
					<th class="text-center" scope="col">Name</th>
					<th class="text-center" scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
			{% for diagnosiscategory in diagnosiscategories %}
				<tr>
					<td>{{ diagnosiscategory.diagnosisName }}</td>
					<td>
					<a href=" {{ path('user_edit', {'diagId' : diagnosiscategory.id}) }} "><i class="fa fa-edit fa-lg"></i></a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
	</div>
{% endblock %}
