{% extends 'base.html.twig' %}

{% block title %}Edit Diagnosis Category{% endblock %}
{% block body %}
  <div class="grid-container">
    <div class="panel-heading">
      <div>
        <h4 class="text-center">Update Diagnosis Categories <a href="{{ path('diagnosis_categories') }}" class="small button alert float-right">back to list</a></h4>
      </div>
      <div class="callout">
        {{ form_start(form) }}
        <div class="grid-x">
          <div class="medium-10 columns">
            {{ form_widget(form) }}
          </div>
          <div class="medium-2 columns" style="padding-top:2%;">
            <input type="submit" value="UPDATE" class="button success float-right" />
          </div>
        </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock %}