{% extends 'base.html.twig' %}

{% block title %}Edit Diagnosis Category{% endblock %}
{% block body %}
<div class="grid-container">
<div class="panel-heading">
  <div>
    <h4 class="text-center">Update Diagnosis Categories</h4>
  </div>
<div class="callout">
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
  <li><span class="show-for-sr">Current: </span>Diagnosis Category: Update Category</li>
  <li><a href="{{ path('diagnosis_categories') }}">back to list</a></li>
  </ul>
</nav>
    {{ form_start(edit_form) }}
    <div class="grid-x">
      <div class="medium-10 columns">
        {{ form_widget(edit_form) }}
      </div>
      <div class="medium-2 columns" style="padding-top:2%;">
        <input type="submit" value="UPDATE" class="button success float-right" />
      </div>
    </div>
    
    {{ form_end(edit_form) }}
  
            </div>
        </div>
    </div>
{% endblock %}