{% extends 'base.html.twig' %}

{% block title %}Admin Portal{% endblock %}

{% block body %}
	<div class="grid-container">
		<h1>Admin Portal</h1>
		<hr>
		<ul>
			<li><a href="{{ path('clinic_list') }}">Clinics</a></li>
			<li><a href="{{ path('diagnosis_categories') }}">Diagnosis Categories</a></li>
			<li><a href="{{ path('doctor_list') }}">Doctors</a></li>
			<li><a href="{{ path('patient_list') }}">Patients</a></li>
		</ul>
	</div>
{% endblock %}
