{% extends 'base.html.twig' %}

{% block title %}Doctor's Portal{% endblock %}

{% block body %}

<div class="grid-container">
    <div class="panel-heading">
		<div>
			<h4 class="text-center">
				Doctor's Portal
			</h4>
		</div>

<div class="callout">
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><span class="show-for-sr">Current: </span>Home</li>
	<li><a href="{{ path('doctor_patients') }}">Patients</a></li>
  </ul>
</nav>
		Doctor's Home Page
</div>
</div>
</div>
{% endblock %}
