{% extends 'base.html.twig' %}

{% block title %}Doctor's Portal{% endblock %}

{% block body %}

<div class="grid-container">
    <div class="panel-heading">
		<div>
			<h4 class="text-center">
				Doctor's Portal
			</h4>
		</div>

<div class="callout">
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
  <li><span class="show-for-sr">Current: </span>Home</li>
	<li><a href="{{ path('patient_list_doctors') }}">Patients</a></li>
	</ul>
</nav>
		<h4 class="text-center" style="color:#111;font-weight:bold;">APPOINTMENTS</h4>
			<table class="table unstriped text-center">
			<thead>
				<tr>
					<td class="text-center">Patient Name</td>
					<td class="text-center">Appointment Schedule</td>
					<td class="text-center">Action</td>
				</tr>
			</thead>
			<tbody>
				
				<tr>
					<td></td>
					<td></td>
					<td><a href="">Accept</a> | <a href="">Decline</a></td>
				</tr>
				
			</tbody>
		</table>
</div>
</div>
</div>
{% endblock %}
