{% extends 'base.html.twig' %}

{% block title %}Doctor's Portal{% endblock %}

{% block body %}

<div class="grid-container">
    <h1>Doctor's Portal</h1>
	<ul>
		<li>
			<a href="{{ path('patient_list') }}">Patients</a>
		</li>
	</ul>
</div>
{% endblock %}
