{% extends 'base.html.twig' %}

{% block title %}Message index{% endblock %}

{% block body %}
    <h1>Message index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Sender</th>
                <th>Message</th>
                <th>Date Sent</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <a href="{{ path('message_new') }}" class="button success">Compose New Message...</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function deleteMessage (id) {
            $.ajax({
                url: "/message/delete/" + id,
                type: 'DELETE',
                success: function(xhr, textStatus, errorThrown) {
                    //TODO: retrieve data with GET after deletion
                    alert('Deleted ' + id);
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.log('Failed to delete ' + id);
                }
            });
        }
        $('.table').DataTable( {
            destroy: true,
            ajax: {
                "url":          "/messages",
                "contentType":  "application/json",
                "type":         "POST",
                "dataSrc":      "",
                "async":        true,
            },
            "columns": [
                    {
                        "data": null,
                        "render": function(data, type, row) {
                            return `<a href="{{path('message_show', {'messageId': 'msgId'})}}">${ data.subject }</a>`.replace('msgId', data.id);
                        }
                    },
                    { "data": "sender" },
                    { "data": "message" },
                    {
                        "data": null,
                        "render": function(data, type, row) {
                            return `<time class="timeago" datetime="${ data.datesent }" title="${ data.datesent }">${ jQuery.timeago(data.datesent) }</time>`;
                        }
                    },
                    {
                        "data": null,
                        "render": function(data, type, row) {
                            return `<button id="reply" action="" class="button primary">Reply</button>\
                                    <button id="delete" onclick="deleteMessage(msgId)"\
                                    class="button alert">Delete</button>`.replace('msgId', data.id);
                        }
                    }
            ]
        } );
        $(".table").on('click', '#reply', function(event) {
            //TODO: add custom reply functionality here
            alert("click");
        })

    </script>
{% endblock %}