{% extends 'base.html.twig' %}

{% block title %}Doctor's Portal{% endblock %}

{% block body %}

<div class="grid-container">
    <div class="panel-heading">
		<div>
			<h4 class="text-center">
				Doctor's Portal
			</h4>
		</div>

<div class="callout">
<nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
        <li><a href="{{ path('doctor') }}">Home</a></li>
        <li><a href="{{ path('appointment_doctor') }}">Appointments</a></li>
        <li><span class="show-for-sr">Current: </span>Messages</li>
	</ul>
</nav>
<div class="grid-x">
<div class="callout small-12 medium-4 columns">
<input type="search" id="myInput" onkeyup="myFunction()" placeholder="Search conversation" title="Type in a name">
<div class="message">
<strong>Recent Conversation</strong>
    <ul id="myUL">
        <li><a href="#"><strong>Adele:</strong> Message</a></li>
        <li><a href="#"><strong>Agnes</strong> Message</a></li>

        <li><a href="#"><strong>Billy</strong> Message</a></li>
        <li><a href="#"><strong>Bob</strong> Message</a></li>

        <li><a href="#"><strong>Calvin</strong> Message</a></li>
        <li><a href="#"><strong>Christina</strong> Message</a></li>
        <li><a href="#"><strong>Cindy</strong> Message</a></li>
    </ul>
</div>
</div>

<div class=" small-12 medium-8 columns" style="padding-left:2%;">
<strong>SEND MESSAGE</strong>


</div>
</div
</div>
</div>
</div>
{% endblock %}

{% block javascripts %}
<script>
function myFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
{% endblock %}